<!-- views/articles-new.handlebars -->

<form action="/articles" method="POST" class="p-3">
  <fieldset>
    <legend>New Article</legend>
    {{> articles-form }}
  </fieldset>
  <p>
    <button type="submit" class="btn btn-primary" name="button">Save</button>
  </p>

</form>
