<!-- views/me.handlebars -->

{{#if currentUser}}
<h2>{{currentUser.firstName}} {{currentUser.lastName}}</h2>
<h4>MovieScore: {{currentUser.movieScore}}</h4>
<div>
  <a href="/me/movies">My Movies</a>
  <br>
  <a href="/me/articles">My Articles</a>
  <br>
  <a href="/me/ratings">My Ratings</a>
</div>
{{else}}
<h1>You don't have an account</h1>
<a href="/sign-up">Sign up</a> or <a href="login">Login</a> here!
{{/if}}
