<!-- views/movies-new.handlebars -->

<form method="POST" action="/movies">
  <fieldset>
    <legend>New Movie</legend>
    {{> movies-form }}
  </fieldset>

  <p>
    <button type="submit">Save Movie</button>
  </p>

</form>
