<!-- views/movies-new.handlebars -->

<form method="POST" action="/movies">
  <fieldset>
    <legend>New Movie</legend>
    <p>
      <label for="title">Title</label><br>
      <input type="text" name="title" />
    </p>
    <p>
      <label for="desc">Movie Title</label><br>
      <input type="text" name="desc" />
    </p>
    <p>
      <label for="imgUrl">Image Url</label><br>
      <input type="text" placeholder="" name="imgUrl" />
    </p>
  </fieldset>

  <p>
    <button type="submit">Save Movie</button>
  </p>

</form>
